@font-face{
	font-family: "f1_Bold";
	src:url("../fonts/Formula1-Bold.otf");
}

@font-face{
	font-family: "f1_Regular";
	src:url("../fonts/Formula1-Regular.otf");
}

@font-face{
	font-family: "f1_Wide";
	src:url("../fonts/Formula1-Wide.otf");
}

*{

	box-sizing: border-box;
}

html,body{

	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	background-color: #f7f4f1;
}


.contenedor-general{

	width: 90rem;        /*Hemos cambiado esto de 82 a 90 rem*/
 	margin: 0 auto;
	height: 200px;
	}

.titular-h1{

	font-family: 'f1_Regular', sans-serif;
	font-size:2.5rem;
	letter-spacing: 1.5px;
	font-weight: normal;
	padding: 3rem 0;

}


.escuderias a{

	display: flex;
	width: 82rem;
	height: 21.375rem;
	text-decoration: none;


}

.escuderias a:hover .foto-coche{

	transform:scale(1.2);
}


.foto-coche{
	transition: all 0.4s ease;
}

.contenedor-izquierdo{

	display: flex;
	width: 50%;
	height: 100%;
	background-color: white;
}

.contenedor-derecho{

	width: 50%;
	height: 100%;
	background-color: white;
	border-left: solid 6px #00b2be;
	text-align: center;
	overflow: hidden;
}

.contenedor-derecho img{

	height: 120%;

}


.panel-izquierdo{

	width: 50%;
	height: 100%;
	/*background-color: white;*/
}


.panel-derecho{

	/*background-color: white;*/
	width: 50%;
	height: 100%;

}


.titular-h2{

	font-family: "f1_Bold", sans-serif;
	font-size: 1.4rem;
	letter-spacing: 0px;
	color:#171717;
	margin:70px 0 0 40px;
}

.pilotos-panel{

	margin: 20px 0 0 40px;

}

.pilotos-panel li{

	color: #171717;
	font-size:0.9rem;
	letter-spacing: 1px;
	margin-bottom: 10px;
}


/*Se utiliza para añadir contenido antes de lo escrito escrito*/

.pilotos-panel li::before{

	content: url("../img/icono-helmet-blanco.png");
	margin-right: 0.5rem;
}


.contenedor-logo img{

	height: 97px;
}



.tabla-podio-copa{

	width: 85%;
	margin-top: 45px;
}


.tabla-podio-copa tr {

height: 80px;


}


.icono-podio{

	width: 15%;


}




.icono-podio::before{

	content: url("../img/icono-podio-blanco.png");
}



.icono-copa::before{


	content: url("../img/icono-copa-blanco.png");
}

.texto-celdas{

	color: #171717;
	font-size:0.8rem;
	width: 20%;
}

.numeros-celdas{

	color: #171717;
	font-size:1.4rem;
	width: 20%;
	text-align: right;
}

.tabla-podio-copa td{

	vertical-align: middle;
}


.linea{

	border-top: solid 1px #cccccc;
}

.escuderias a:hover .contenedor-izquierdo{
	
	background-color: #171717;
}


a:hover .titular-h2 span{

	color: #ffffff
}

a:hover .pilotos-panel li{
	color: white;
}

a:hover .tabla-podio-copa td{
	color:#ffffff;
}

a:hover .icono-podio::before{

	content: url("../img/icono-podio-negro.png");
}

a:hover .icono-copa::before{

	content: url("../img/icono-copa-negro.png");
}

a:hover .pilotos-panel li::before{

	content: url("../img/icono-helmet-negro.png");
	margin-right: 0.5rem;
}